.contact-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    background-color: #fae9ef;
    border-radius: 0px 0px 10px 10px;
}

.contact-header__LnR{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.contact-header__back-button{
    transform: rotate(180deg);
    display: none;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 10px;
    height: 46px;
    width: 46px;
    color: #602f35;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.2s;
    border-radius: 50px;
}

.contact-header__back-button:hover{
    background-color: #f3b3cb;
}

.contact-header__image-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 60px;
    width: 60px;
    background: none;
    border-radius: 50%;
}

.contact-header__image-button:hover{
    
    border: 5px solid #f3b3cb;
    transition: border 0.2s;
}

.contact-header__image{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.contact-header__texts{
    display: flex;
    flex-direction: column;
}

.contact-header__name {
    display: flex;
    color: #602f35;
    font-weight: 600;
    font-size: 18px;
    padding-left: 10px;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.contact-header__last-seen {
    display: flex;
    font-size: 12px;
    color: #666;
    padding-left: 10px;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.contact-header__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 10px;
    height: 46px;
    width: 46px;
    color: #602f35;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.2s;
    border-radius: 50px;
}

.contact-header__button:hover{
    background-color: #f3b3cb;
}

/* ------ PFP PopUp ------ */

.contact-popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.contact-popup {
    background-color: #fff0f5;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
    max-width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-popup__image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #F7507F; /* Maybe #f3b3cb */
}

.contact-popup__name {
    margin: 0;
    color: #602f35;
}

.contact-popup__button-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.contact-popup__buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    background-color: #f7d5e0;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    color: #602f35;
    transition: background-color 0.2s ease
}


.contact-popup__buttons:hover {
    background-color: #f3b3cb;
}

.contact-popup__close-btn {
    padding: 8px 16px;
    background-color: #F7507F;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.contact-popup__close-btn:hover {
    background-color: #c54468;
}

/* ------ Responsive Mobile ------ */

@media (max-width: 820px){
    .contact-header{
        padding: 5px;
    }
    .contact-header__back-button{
        display: flex;
        font-size: 24px;
    }
    .contact-popup__image {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 350px){
    .contact-header__name{
        font-size: 16px;
        padding-left: 0px;
    }
    .contact-header__last-seen{
        font-size: 10px;
        padding-left: 0px;
    }
    .contact-popup__image {
        width: 110px;
        height: 110px;
    }
}

@media (max-width: 315px){
    .contact-header__name{
        font-size: 14px;
    }
    .contact-header__last-seen{
        font-size: 8px;
    }
}