.messages-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.messages-list__date-label{
    text-align: center;
    margin: 5px auto 15px;
    padding: 6px 12px;
    background-color: #ff9cbb;
    border-radius: 12px;
    font-weight: bold;
    color: #602f35;
    width: fit-content;
}